## Data cleaning

In [ ]:
# importing pandas
import pandas as pd

In [ ]:
#importing the files
url = "https://drive.google.com/file/d/1MIKH9NzQhy4BmlG9GVYCNqdm-7rGwYfj/view?usp=sharing" # products.csv
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
products_df = pd.read_csv(path)

In [ ]:
#importing the files
url = "https://drive.google.com/file/d/1puem3HBznqQrMqKuVfgD-oOxooPOuiFI/view?usp=drive_link" # orderlines.csv
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
orderlines_df = pd.read_csv(path)

In [ ]:
#importing the files
url = "https://drive.google.com/file/d/1aE81qNLlOOrgjXIGgtuAl_CscEVPUsuJ/view?usp=drive_link" # orders.csv
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
orders_df = pd.read_csv(path)

In [ ]:
#importing the files
url = "https://drive.google.com/file/d/1HGDBRv4Xz8M95YHP65IQg3INPvKjSa6r/view?usp=drive_link" # brands.csv
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
brands_df = pd.read_csv(path)

Products

In [ ]:
# drop duplicates
products_df = products_df.drop_duplicates()
# drop the promo price column (corrupted)
products_df = products_df.drop(columns=['promo_price'])
# drop sku duplicates
products_df.loc[products_df.duplicated(subset=['sku'], keep=False)]
products_df = products_df.drop_duplicates(subset='sku')
# drop none values
products_df = products_df.dropna()
products_df.duplicated(subset=['sku']).sum()
# look for missing values
products_df.isna().sum()
# filling/cleaning empty cells
products_df.loc[products_df['desc'].isna()]
products_df.loc[products_df['desc'].isna(),'desc'] = products_df.loc[products_df['desc'].isna(),'name']
# change data types
mask = products_df['price'].str.count(r'\.') > 1
products_df.loc[mask, 'price'] = products_df.loc[mask, 'price'].str.replace('.', '', n=1)
products_df['price'] = pd.to_numeric(products_df['price'], errors='coerce')
products_df = products_df.astype({'price': 'float64'})

In [ ]:
products_cl = products_df.copy()

Orderlines

In [ ]:
# checking orderlines
orderlines_df.info()
orderlines_df.isna()
orderlines_df.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293983 entries, 0 to 293982
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                293983 non-null  int64
 1   id_order          293983 non-null  int64
 2   product_id        293983 non-null  int64
 3   product_quantity  293983 non-null  int64
 4   sku               293983 non-null  object
 5   unit_price        293983 non-null  object
 6   date              293983 non-null  object
dtypes: int64(4), object(3)
memory usage: 15.7+ MB

np.int64(0)

In [ ]:
# change datatypes
# date
orderlines_df["date"] = pd.to_datetime(orderlines_df["date"])

In [ ]:
# unit price
orderlines_df.loc[orderlines_df['unit_price'].str.count(r'\.')>1,'unit_price'] = \
orderlines_df.loc[orderlines_df['unit_price'].str.count(r'\.')>1,'unit_price'].str.replace('.','',n=1)
orderlines_df["unit_price"] = pd.to_numeric(orderlines_df["unit_price"])

In [ ]:
orderlines_cl = orderlines_df.copy()

Orders

In [ ]:
# checking data
orders_df.duplicated().sum()
orders_df.info()
# drop na
orders_df = orders_df.dropna()
# type change
orders_df["created_date"] = pd.to_datetime(orders_df["created_date"])
orders_cl = orders_df.copy()